<html>
    <head>
        <title>Photo App</title>
    </head>
    <body>
        <h1>
            <a href="/">홈으로 돌아가기</a>
        </h1>
        <section>
            <div>
                {% if pk == None %}
                <h2>New Photo</h2>
                {% elif pk != None %}
                <h2>Photo Edit</h2>
                {% endif %}
                <form method="POST">
                    {% csrf_token %} {{ form.as_p }}
                    <!-- {% csrf_token %} : 보안을 위해서 작성 -->
                    <input type="submit" value="완료!">
                </form>
            </div>
        </section>
    </body>
</html>