<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
</head>
<body>
    <h1>메인 페이지</h1>
    {% if user.is_authenticated %}
    <p>{{user.memberId}}님 안녕하세요</p>
    <input type="button" value="로그아웃" onclick="location.href='/member/logout/'">
    {% else %}
    <input type="button" value="회원가입" onclick="location.href='/member/signUpForm/'">
    <input type="button" value="로그인" onclick="location.href='/member/loginForm/'">
    {% endif %}
</body>
</html>